@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
/* CSS styling for the card */
body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
/* nav bar */

nav {
  height: 125px;
  width: 100%;
  background: rgba(2, 2, 2, 0.8);
}
.navbar-brand {
  padding: 0 50px;
}
nav ul li {
  font-size: 1.6rem;
}
nav ul li a {
  color: lightgray !important;
}
nav ul li a.active {
  border-bottom: 5px solid #ff7a00;
}
nav ul li a:hover {
  border-bottom: 5px solid #ff7a00;
}
.order-btn {
  background-color: #ff7a00;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin-right: 60px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.order-btn:hover {
  background-color: #e66e00;
  color: white;
}
.order-btn:active {
  background-color: #e66e00;
  color: white;
}

/* icons style */
.item {
  position: relative;
  margin-top: 21%;
  margin-left: 110%;
}
.icon a {
  font-size: 30px;
  border-radius: 20% 0 0 20%;
  background-color: #ff7a00;
  color: white;
  padding: 2px 5px;
  line-height: 54px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.icon a:hover {
  background-color: #e66e00;
  color: white;
}
.stroke-transparent {
  -webkit-text-stroke: 1.3px white;
  -webkit-text-fill-color: transparent;
}

/* main style */
.main {
  background: url("images/IMG-20230329-WA0023.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.main-content {
  background-color: #000000a4;
  text-align: center;
  height: 650px;
}
.content {
  position: relative;
  top: -180px;
  padding: 0;
}
.main-content h3 {
  color: #fff;
  font-size: 60px;
  margin-top: -20px;
}
.main-content h2 {
  color: #ff7a00;
  font-size: 60px;
  font-weight: bold;
}

body {
  position: relative;
}

.img1 {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 680px !important;
  left: 50px !important;
  background: none;
}

.img2 {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 800px !important;
  right: 50px !important;
  background-color: none;
}

.card {
  position: relative;
  top: 110px;
  width: 800px;
  height: 750;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
  text-align: center;
  align-self: center;
}

.card-title {
  font-size: 35px;
  margin: 20px;
  text-align: center;
  color: #555;
}

/* CSS styling for the form */
.form-container {
  max-width: 600px;
  margin: 0 260px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
}

.form-input {
  width: 40%;
  font-size: 25px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ff7a00;
}

input:focus {
  box-shadow: none !important;
  border: none !important;
}

.form-button {
  padding: 5px 90px 5px;
  background-color: #ff7a00;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 50px 30px;
}

.greet {
  position: relative;
  top: 210px !important;
  color: #ff7a00;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* ----footer--- */
.footer {
  background: url("images/IMG-20230329-WA0024.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  max-height: 500px;
  font-family: sans-serif;
  background-attachment: scroll;
}
.footer p {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #555;
}
.footer-content {
  background-color: rgba(0, 0, 0, 0.7);
  height: 500px;
  display: flex;
}
.footer-box {
  margin: 100px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#footer-img {
  background: none;
  position: relative;
  top: 167px;
  left: 410px;
}
.stroke-transparent {
  -webkit-text-stroke: 1.3px white;
  -webkit-text-fill-color: transparent;
}

/* options */
.options {
  padding-left: 100px;
}
.options ul {
  padding: 15px;
  padding-top: 50px;
}
.options ul li {
  list-style-type: none;
}
.options ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.options ul li a:hover {
  text-decoration: none;
}
/* options end */

/* contact section */
.contact {
  margin: 20px;
}
.contact h3 {
  color: #ff7a00;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
.contact ul {
  margin-left: 40px;
  margin-bottom: 40px;
}
.contact ul li {
  list-style-type: none;
  color: #fff;
  font-size: 25px;
}
.contact ul li a {
  color: #fff;
  text-decoration: none;
}
.contact ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.contact ul li i {
  font-size: 20px;
  padding: 20px;
}
.sm-handles {
  text-align: center;
  font-size: 30px;
  padding: 25px;
}
.sm-handles a {
  color: #fff;
  padding: 0px 5px;
}

/* contact end */

/* location  */
.location {
  color: #fff;
  margin: 20px;
}

.location h3 {
  color: #ff7a00;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
.location p {
  font-size: 25px;
  color: #fff;
  padding: 10px 0px;
}
.location-box {
  display: flex;
}
.location-box i {
  font-size: 30px;
  padding-right: 3px;
}
.location-box a {
  color: #fff;
  text-decoration: none;
}

/* responsive style */
@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    height: auto;
  }
  .main-content h3 {
    font-size: 30px;
  }
  .main-content h2 {
    color: #ff7a00;
    font-size: 30px;
    font-weight: bold;
  }
  .footer {
    height: auto;
  }
  .footer-content {
    height: fit-content;
  }
  .footer-box {
    display: block;
  }
  #footer-img {
    left: 25px;
    width: 80%;
    top: 100px;
  }
  #logo {
    margin-left: 0;
  }
  .contact ul {
    margin-left: 0px;
    padding: 0px;
  }
}
