@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/* nav bar */
nav {
  height: 125px;
  width: 100%;
  background: rgba(2, 2, 2, 0.8);
  color: #ededeb;
}
.navbar-brand {
  padding: 0 50px;
}
nav ul li {
  font-size: 1.6rem;
}
nav ul li a {
  color: lightgray !important;
}
nav ul li a.active {
  border-bottom: 5px solid #ff7a00;
}
nav ul li a:hover {
  border-bottom: 5px solid #ff7a00;
}
.order-btn {
  background-color: #ff7a00;
  color: white;
  font-size: 1.6rem !important;
  height: 50px !important;
  text-align: center;
  margin-right: 60px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.order-btn:hover {
  background-color: #e66e00;
  color: white;
}
.order-btn:active {
  background-color: #e66e00;
  color: white;
}

/* icons style */
.item {
  position: absolute;
  margin-top: 21%;
  margin-left: 96%;
  z-index: 1;
}
.icon a {
  font-size: 30px;
  border-radius: 20% 0 0 20%;
  background-color: #ff7a00 !important;
  color: white;
  padding: 2px 5px;
  line-height: 54px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.icon a:hover {
  background-color: #e66e00;
  color: white;
}

/* main section  */
.main {
  background: url("images/IMG-20230329-WA0023.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.main-content {
  background-color: #000000b4;
  height: 650px;
  text-align: center;
  padding-top: 270px;
}
.main-content h3 {
  color: #fff;
  font-size: 60px;
}
.main-content h2 {
  color: #ff7a00;
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
}
/* main ends */

.img1 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 700px;
  left: 110px;
  background-color: none;
}
.img2 {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -830px;
  right: 130px;
  background-color: none;
}

/* CSS styling for the card */

.card {
  margin: 150px;
  margin-left: 300px;
  width: 750px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px 100px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  align-self: center;
  color: #555;
}

.card-title {
  color: #ff7a00;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-top: 20px;
}
.address {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 30px;
}
.contant {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 18px;
}
.number {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 60px;
}

.icons {
  margin: 40px;
}
.icons a {
  display: inline-block;
  height: 65px;
  width: 65px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 10px;
}
.icons i {
  margin-top: 8px;
  font-size: 30px;
  text-align: center;
}
.strike-transparent {
  -webkit-text-stroke: 1.3px black !important;
  -webkit-text-fill-color: transparent;
}

/* ----footer--- */
.footer {
  background: url("images/IMG-20230329-WA0024.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  max-height: 500px;
  width: 100%;
  font-family: sans-serif;
  background-attachment: scroll;
}
.footer p {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.footer-content {
  background-color: rgba(0, 0, 0, 0.7);
  height: 500px;
  display: flex;
}
.footer-box {
  margin: 100px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#footer-img {
  background: none;
  position: relative;
  top: 167px;
  left: 410px;
}
.stroke-transparent {
  -webkit-text-stroke: 1.3px white !important;
  -webkit-text-fill-color: transparent;
}

/* options */
.options {
  padding-left: 100px;
}
.options ul {
  padding: 15px;
  padding-top: 50px;
}
.options ul li {
  list-style-type: none;
}
.options ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.options ul li a:hover {
  text-decoration: none;
}
/* options end */

/* contact section */
.contact {
  margin: 20px;
}
.contact h3 {
  color: #ff7a00;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
.contact ul {
  margin-left: 40px;
  margin-bottom: 40px;
}
.contact ul li {
  list-style-type: none;
  color: #fff;
  font-size: 25px;
}
.contact ul li a {
  color: #fff;
  text-decoration: none;
}
.contact ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.contact ul li i {
  font-size: 20px;
  padding: 20px;
}
.sm-handles {
  text-align: center;
  font-size: 30px;
  padding: 25px;
}
.sm-handles a {
  color: #fff;
  padding: 0px 5px;
}

/* contact end */

/* location  */
.location {
  color: #fff;
  margin: 20px;
}

.location h3 {
  color: #ff7a00;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
.location p {
  font-size: 25px;
  padding: 10px 0px;
}
.location-box {
  display: flex;
}
.location-box i {
  font-size: 30px;
  padding-right: 3px;
}
.location-box a {
  color: #fff;
  text-decoration: none;
}

/* responsive style */
@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    height: auto;
  }
  .main-content h3 {
    font-size: 30px;
  }
  .main-content h2 {
    color: #ff7a00;
    font-size: 30px;
    font-weight: bold;
  }
  .footer {
    height: auto;
  }
  .footer-content {
    height: fit-content;
  }
  .footer-box {
    display: block;
  }
  #footer-img {
    left: 25px;
    width: 80%;
    top: 100px;
  }
  #logo {
    margin-left: 0;
  }
  .contact ul {
    margin-left: 0px;
    padding: 0px;
  }
}
